html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* Fit the container in browser window */
#container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; 
}

#buttonbox {
  background-color: #1a1918b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

 /* Button Style */
 #maskbutton {
  padding: 20px;
  background-color: #1f0805;
  color: white;
  font-size: 18px;
  border: 1px solid white; /* <-- add this */
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Info Box for Mask Information */
#mask-info-box {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5px;
  background-color: #ffffffdf;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  width: 70%;
}

svg {
  width: auto;
  height: auto;
  background: #1a1918b1;
  margin: 0;
  padding: 0;
  }
  circle {
    fill: rgb(251, 251, 251);
    stroke: black;
    stroke-width: 3px;
  }
  path {
    fill: none;
    stroke: rgba(211, 211, 211, 0);
    stroke-width: 2;
  }


footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
  padding-right: 10px;
}

footer a {
  color: white;
  padding-right: 10px;
}


@media (max-width: 600px) {
  main {
      padding: 5px;
      max-width: 600px;
      margin: auto;
      line-height: 1.8;
      overflow-y: auto;
  }

  footer {
      background: black;
      text-align: center;
      font-size: 0.9em;
      color: #ffffff;
      box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      bottom: 0;
      width: 100%;
  }

  footer p {
      padding-right: 0;
  }
  

  footer a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 3px;
      color: white;
  }

  footer a img {
      width: 16px;
  }
  
}