svg {
    width: 100%;
    height: 100vh;
    background: #1a1918b1;
  }
  circle {
    fill: rgb(251, 251, 251);
    stroke: black;
    stroke-width: 3px;
  }
  path {
    fill: none;
    stroke: rgba(211, 211, 211, 0);
    stroke-width: 2;
  }

  /* Button Style */
  .mask-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #1f0805;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  /* Info Box for Mask Information */
  #mask-info-box {
    position: fixed;
    top: 70px;
    left: 10px;
    font-size: 20px;
    background-color: #ffffffdf;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    visibility: hidden;
    z-index: 5;
  }

  /* Media Query for Mobile View */
  @media (max-width: 600px) {
    .mask-button {
      font-size: 16px;
      padding: 8px 15px;
      top: 15px;
      left: 15px;
    }

    #mask-info-box {
      font-size: 16px;
      width: 220px;
      top: 50px;
    }

    svg {
      height: calc(100vh - 100px); /* Reduce height to make space for the button and info box */
    }
  }